footer {
    background-image: url('../img-carousel/footer_bg-down.png');
    background-repeat: repeat-x;
    margin-top: 50px;
    color: $white;
    text-align: center;
    width: 100%;
    padding: 45px 0;

    .footer_wrapper {
        width: 60%;
        margin: 0 auto;
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        

        .footer_logo {
            width: 35px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            
            &::before {
                content:'';
                width: 200px;
                height: 2px;
                background-color: $white;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 80px;

                @media only screen and(max-width: 530px) {
                    display: none;
                }

            }

            &::after {
                content:'';
                width: 200px;
                height: 2px;
                background-color: $white;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 80px;

                @media only screen and(max-width: 530px) {
                    display: none;
                }

            }
            
            
            
            .img-logo-footer {
                width: 100%;

                
            }

            .text_logo_footer {
                color: $white;
                font-size: 17px;
            }
        }
    }

    .footer_text {
        .social {
            .list_item {
                margin-top: 20px;
                
                .list_item_link {
                    margin: 0 10px;
                    font-size: 30px;
                    color: $white;
                    transition: all .4 ease-in-out;

                    &:hover {
                        color: #ccc;
                    }
                }


            }
        }
    }

    .footer_payment {
        padding-top: 20px;
        .payments_custom {
            

            .pay_cards {
                width: 30px;

                img {
                    width: 100%;
                }
            }

            .pay_cards_mc{
                width: 100px;

                img {
                    width: 100%;
                }
            }

            .pay_cards_ms{
                width: 90px;

                img {
                    width: 100%;
                }
            }
        }
    }

    .copyright_custom {
        font-size: 8px;
    }
}