header {

    //navbar
    .nav-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 11;
        

        nav {
            background-color: #ff9900;
           

            // logo
            .logo-link {
                color: #fc0fc0;
                text-decoration: none;
        
                .logo {
                    width: 90px;
                    
                    img {
                        width: 100%;
                    }
        
                }
        
                .dropfood {
                    text-decoration: none;
                    font-weight: $extra-boldWeight;
                    font-size: 30px;
                }
                
            }

            //login e register
            .login-navbar-wrapper {

                .login-navbar {
                    .nav-item {
                        
                        .nav-link {
                            padding: 10px 20px;
                            color: $white;
                            font-size: 18px;
                            font-weight: $mediumWeight;
                            transition: all .2s;

                            &:hover {
                               color: #ccc;
                            }
                        }         
                    }
                }
            }
        }
    }
    
        


    

    


    
}
