main {
    // show 
   .show-bg {
    background-image: url('../img-carousel/banner_image-show.png'), url('../img-carousel/banner_image-bottom.png'); 
    background-repeat: repeat-x;
    width:100%;
   }

   .container-info {
     width: 70%;
     margin: 0 auto;
   }

    .wrapper-restaurant {
        padding-top: 180px;
    
      @media only screen and (max-width: 768px) {
        padding-top: 130px;
      }
        .info-restaurant  {
            display: flex;
            width: 100%;
            padding-bottom: 10px;

            @media only screen and (max-width:768px)  {
                flex-wrap: wrap-reverse;
            }

             @media only screen and (max-width:480px)  {
                flex-wrap: wrap-reverse;
            }

            

            .info-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 70%;
                
                .container__types {
                    display: flex;
                         #restaurant-types {
                            max-width: 10rem;
                            font-size: 15px;
                            background: #FF9900;
                            margin-right: 5px;         
                        }       

                    .info__title {
                        font-size: 40px;
                        color: $white;
                        text-transform: capitalize;
                        margin-bottom: 30px;

                        @media screen and (max-width:768px) {
                            font-size: 30px;
                            margin-bottom: 10px; 
                        }

                         @media screen and (max-width:480px) {
                            font-size: 30px;
                            margin-bottom: 10px; 
                        }
                    }


                    .info__par {
                        font-size: 20px;
                        color: $white;
                        text-transform: capitalize;
                         span {
                            color: #FF9900;
                            font-size: 25px;
                            margin-right: 0.5rem;
                         }
                    }
                }
            }
             
            div.info-image {
                width: 400px;
                height: 200px;
                margin-right: 50px;
                overflow: hidden;
                    .image__restaurant {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 20px;
                    }
                @media only screen and (max-width:768px) {
                    width: 60%;
                    height: auto; 
                    margin-bottom: 10px;             
                }
                
                @media only screen and (max-width:480px) {
                    width: 60%;
                    height: auto; 
                    margin-bottom: 10px;             
                }
            }  
            
        }
    }

    
    
    .restaurant-menu {
        .menu_item {  
            display: flex;
            // align-items: center;

            .menu_text {
                margin-bottom: 0;
                margin-right: 40px;
            }
            .btn_contatore {
                background-color: transparent;
                border: none;
                color: $logoColor;
                font-size: 20px;
            }
        }
    }

// parte guest 
    .card_container{
        border-radius: 50px;
        overflow: hidden;  
    }
    .card_image {
        width: 400px;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }
// show

}

// orders create
#form_cust {
    margin-top: 170px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: $orderForm;
    box-shadow: 8px 5px 7px 5px rgb(0 0 0 / 30%);
}