main {
    // show 
    .wrapper-restaurant {
        background-color: #D3D3D3;
        margin-top: 200px;
        padding: 20px 0;

        .info-restaurant  {
            display: flex;
            width: 100%;

            .restaurant-image {
                width: 200px;
                height: 200px;
                object-fit: contain;
                border-radius: 20px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            .info-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    .restaurant-menu {
        .menu_item {  
            display: flex;
            // align-items: center;

            .menu_text {
                margin-bottom: 0;
                margin-right: 40px;
            }
            .btn_contatore {
                background-color: transparent;
                border: none;
                color: $logoColor;
                font-size: 20px;
            }
        }
    }
// parte guest 
    .card_container{
        border-radius: 50px;
        overflow: hidden;  
    }
    .card_image {
        width: 400px;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }
// show

}