main {
// content

    .scelti {
        color: $white;
        font-size: 35px;
    }

    .carousel_selezione {
        margin: 0 40px;
        display: flex;
        align-items: center;
        

        

        .chev {              
            cursor: pointer;
            transition: 0.3s ease-in-out;

            
            .chev__link {
                color: $orange;
                margin: 20px;
                font-size: 40px;
                              
            }
        }
        .chev_left {
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
        }

        .chev_right {
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            
        }

        .wrapper_sezione {
            height: 600px;
            overflow: hidden;
            scroll-behavior: smooth;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            
            .card_custom {
                width: calc(100% / 4);
                transition: 0.3s ease-in-out;
                background-color: #fff;
                margin: 0 10px;
                border-radius: 50px;
                overflow: hidden;
                box-shadow: 8px 5px 7px 5px rgba(0, 0, 0, 0.4);

                .card_link {
                    display: block;
                    color: $black;
                    text-decoration: none;

                    .card_image {
                        
                        margin-bottom: 20px;

                        img {
                            width: 100%;
                        }
                    }
                }

                
            
                // &:hover { 
                //     margin: 0 40px;
                //     transform: scale(0.9);
                // }

                .card_text {
                    text-align: center;

                    .card_address {
                        width: 50%;
                        margin: 0 auto;
                    }
                }
        
            }
    
        }
    }

}