* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

//contenitore
.contenitore_custom {
    margin: 0 auto;
    width: 70%;
}

.index_body {
    background-image: url('../img-carousel/index-bg.jpeg');
    background-repeat: repeat;
    background-size: 900px;
    
}
