.container-cart {
  width: 80%;
  margin: 40px auto;
  border-radius: 0.6em;
  box-shadow: 0 0.5em 0 rgba(138, 148, 152, 0.2);
  padding-bottom: 20px;
  padding-top: 200px;
}

.cart-title {
  width: 100%;
  height: 20px;
  text-align: center;
  
  h2.menu_title {
    color: #fbbe36;
    background-image: linear-gradient(140deg, rgba(251,190,54,1) 0%, rgba(251,190,54,1) 47%, rgba(255,153,0,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 70px;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    transform: rotate(-7deg);
    }
}
    


.row__cart {
  display: flex;
  align-items: center;
  max-width: 100%;;
  margin-top: 50px;
  padding: 1em;
}
 
  .product__image {
    width: 20%;
    padding: 0 1%;
    height: 225px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
  }
  .product__info {
    width: 40%;
    margin-left: 1em;

    .food__name, .food__ingredients {
      text-transform: capitalize;
    }
  }
  
  .cart__quantity {
    width: 20%;
    text-align: right;
      .input_cart {
        max-width: 3.5em;
        height: 2em;
        margin: 0 10px;
       
      }
  }
  
  .col__price {
    width: 5%;
  }
  

.col-numeric {
  display: flex;
  font: bold 18px helvetica;
  margin-left: 6em;
}


.cart__quantity >input.input_cart {
    max-width: 50px ;
}

button.qty {
    width: 1.7em;
    line-height: 1.7em;
    border: none;
    border-radius: 50%;
    font-size: 1em;
    text-align: center;
    background: #FF9900;
    color: #fff;
}

button.qty:hover {
    background: #c47909;
    color:black;
}

.row-total {
  background-color: #FF9900;
  color: #fff;
  text-align: right;
  padding: 1%;
  font-size: 30px;
}

.actions {
  margin-top: 50px;
  
}


.cart__btn {
  padding: 10px 30px;
  border-radius: 0.3em;
  border: none;
  font-size: 1.4em;
  font-weight: bold;
  background: black;
  color: #fff;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover {
    box-shadow: 0 3px 0 rgba(59, 154, 198, 0)
}


.transition {
    transition: all 0.3s ease-in-out;
}


