.container-cart {
    width: 100%;
    margin: 40px auto;
    border-radius: 0.6em;
    background: #ecf0f1;
    box-shadow: 0 0.5em 0 rgba(138, 148, 152, 0.2);
    padding-bottom: 20px;
}


    


.row__cart {
  display: flex;
  align-items: center;
  max-width: 100%;;
  margin-top: 50px;
  padding: 1em;
}
 
  .product__image {
    width: 20%;
    padding: 0 1%;
    height: 225px;
      img {
        width: 100%;
        border-radius: 10px;
      }
  }
  .product__info {
    width: 40%;
    margin-left: 1em;

    .food__name, .food__ingredients {
      text-transform: capitalize;
    }
  }
  
  .cart__quantity {
    width: 20%;
    text-align: right;
      .input_cart {
        max-width: 3.5em;
      }
  }
  
  .col__price {
    width: 5%;
  }
  

.col-numeric {
  display: flex;
  font: bold 18px helvetica;
  margin-left: 6em;
}


.cart__quantity >input.input_cart {
    max-width: 50px ;
}

button.qty {
    width: 1.5em;
    line-height: 1.5em;
    border: none;
    border-radius: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    background: #43ace3;
    color: #fff;
}

button.qty:hover {
    background: #3b9ac6;
}

.row-total {
  background-color: #FF9900;
  color: #fff;
  text-align: right;
  padding: 1%;
  font-size: 30px;
}

.actions {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
 
}
.cart__btn {
  padding: 10px 30px;
  border-radius: 0.3em;
  border: none;
  font-size: 1.4em;
  font-weight: bold;
  background: #43ace3;
  color: #fff;
  box-shadow: 0 3px 0 rgba(59, 154, 198, 1)
}

.btn:hover {
    box-shadow: 0 3px 0 rgba(59, 154, 198, 0)
}


// .transition {
//     transition: all 0.3s ease-in-out;
// }


