#root {

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #bbc3c6;
    font: 62.5%/1.5em "Trebuchet Ms", helvetica;
}


.container-cart {
   max-width: 75em;
    width: 95%;
    margin: 40px auto;
    overflow: hidden;
    position: relative;
    border-radius: 0.6em;
    background: #ecf0f1;
    box-shadow: 0 0.5em 0 rgba(138, 148, 152, 0.2);
    padding-bottom: 20px;
}


.cart-main {
  width: 80%;
  margin: auto;
  border-radius: 0.6em;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1em;
  background-color: red;
  color: #ecf0f1;

    .main__title {
      width: 50%;
    
    }
    
    .show__hide {
      width: 50%;
      text-align: right;
      font-size: 30px;
    }
}

.row {
  display: flex;
  align-items: center;
  max-width: 100%;;
  margin-top: 50px;
  padding: 1em;
}

.row-names {
  background-color: red;
  color: #fff;
  
}

  .col__name {
    padding: 1em;
    width: 12%;
    font-size: 18px;
  }
  
  .col-product {
    width: 44%;
    display: flex;
    align-items: center;
  }
  .product__image {
    margin-right: 10px;
  }
  .col-qnt {
    text-align: center;
    width: 30%;
  }


.col-numeric {
  display: flex;
  font: bold 18px helvetica;
}


.col-qnt >input {
    max-width: 50px ;
}

button.qty {
    width: 1.5em;
    line-height: 1.5em;
    border: none;
    border-radius: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    background: #43ace3;
    color: #fff;
}

button.qty:hover {
    background: #3b9ac6;
}

.row-total {
  background-color: red;
  color: #fff;
  text-align: right;
  padding: 1%;
  font-size: 30px;
}

.actions {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
 
}
.cart__btn {
  padding: 10px 30px;
  border-radius: 0.3em;
  border: none;
  font-size: 1.4em;
  font-weight: bold;
  background: #43ace3;
  color: #fff;
  box-shadow: 0 3px 0 rgba(59, 154, 198, 1)
}

.btn:hover {
    box-shadow: 0 3px 0 rgba(59, 154, 198, 0)
}



.transition {
    transition: all 0.3s ease-in-out;
}


}