header {

    //navbar
    .nav-wrapper-user {
        margin-bottom: 30px;
        

        nav {
            background-color: #ff9900;
            padding: 25px 0;
           

            // logo
            .logo-link {
                color: #fc0fc0;
                text-decoration: none;

                @media screen and(max-width: 576px) {
                    margin-left: 20px;
                }
        
                .logo {
                    width: 40px;
                    margin-right: 20px;
                    
                    img {
                        width: 100%;
                    }
        
                }
        
                .dropfood {
                    text-decoration: none;
                    font-weight: $extra-boldWeight;
                    font-size: 25px;
                    color: #ffff;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                
            }

            //login e register
            .login-navbar-wrapper {

                .login-navbar {
                    .nav-item {
                        
                        .nav-link {
                            padding: 10px 20px;
                            color: $white;
                            font-size: 18px;
                            font-weight: $mediumWeight;
                            transition: all .2s;

                            &:hover {
                               color: #ccc;
                            }
                        }         
                    }
                }
            }
        }
    }
    
        


    

    


    
}
